initialHits.fa
insertion_sites.tsv
mrna_overlaps.tsv
namedGenes.fa
unnamedGenes.fa
upstream.tsv
utr_hits.tsv
ACAA1_aipysurus_3utr.fa
ACAA1_elpaid_extended_3utr.fa
ACAA1_elpaid_extended_3utr_a.fa
ACAA1_elpaid_extended_3utr_a_aligned.fa
ACAA1_elpaid_extended_3utr_aligned.fa
ACAA1_elpaid_extended_search_3utr.fa
ACAA1_elpaid_extended_search_3utr_aligned.fa
TranscriptomeSubsets
contigs_for_bams.txt
exon_overlap_annotation.bed
mrna_overlap_annotation.bed
mrna_overlap_repeat.bed
typed_relevant_ranges.bed
aipysurus_lines.rds
aipysurus_lines.tar.gz
coding_exon_repeats.fasta
kmer_49.pilon_x2.sorted.fasta.LINEs.out
kmer_49.pilon_x2.sorted.fasta.out
snekless_repeats.fa
utr_repeats.fasta
all_LINEs_in_coding_exons.fasta
insertions.bed
insertions.fa
speciesComparison
overlapSearch2.R
CARP_LINEs.fasta
CARP_LINEs.fasta.nhr
CARP_LINEs.fasta.nin
CARP_LINEs.fasta.nsq
all_line_insertions.fa
all_raw_line_insertions.fa
relevant_insertions.tsv
relevant_insertions_fixed.tsv
relevant_insertions_further_fixed.tsv
