.Rproj.user
.Rhistory
.RData
.Ruserdata
Rex1-Snek_1
Rex1-Snek_2
RTE-Snek
Proto2-Snek
Other_L1s
working
trees
rpsblastout
prime_fastas
new_species20Nov.tsv
manual_others
intact_RTEs.bed
fourfold_estimate
coverage_plots
consensus_plot.svg
comparison_genomes.txt
all_species.txt
Transcriptome
Rex1-Snek_2_HHpred.hhr
Proto2-Snek_ORF1.hhr
Proto2-Snek_ORF2.hhr
RTE-Snek_HHpred.hhr
Rex1-Snek_1_HHpred.hhr
snake_species.tsv
contigs_for_bams.txt
GenomeAnnotation
DivergentRex1Idendification
CARP
compiled_LINEs.fasta.fai
reciprocalPlotterRex1.R
